.box-chart {
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  margin: 15px;
}
.input-task {
  width: 340px;
  height: 120px;
  border-radius: 10px;
  background-color: #add8e6;
  border: none;
}
.title-bg-todo {
  background-color: #f08080;
}
.title-bg-inProgress {
  background-color: #ff7f50;
}
.title-bg-done {
  background-color: #90ee90;
}
.btn-inProgress {
  background-color: #ff7f50;
  width: 35px;
  height: auto;
  border-radius: 10px;
}
.btn-todo {
  background-color: #f08080;
  width: 35px;
  height: auto;
  border-radius: 10px;
}
.btn-done {
  background-color: #90ee90;
  width: 35px;
  height: auto;
  border-radius: 10px;
}
.btn-delete {
  background-color: #7cb9e8;
  width: 35px;
  height: auto;
  border-radius: 10px;
}
.btn-send {
  background-color: #add8e6;
  width: 105px;
  height: 80px;
  border-radius: 10px;
}
.box-todo {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 10px 10px 5px #b5b5b5;
}

/* /////////////////////////////////calendar/////////// */
.cal {
  margin: 24px;
}
.react-calendar__month-view__weekdays {
  color: grey;
  text-decoration: none;
}

.react-calendar__navigation button {
  font-size: 1em;
}
/* ////////////////////////////////calendar/////////////////////////////////////////// */
.datepicker {
  background-color: #add8e6;
  width: 295px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin: 5px;
}
.btn-calendar {
  background-color: #add8e6;
  padding: 15px;
  margin-top: 10px;
  border: none;
}
//////////////////////// rest ///////////////////////
.box-pending {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 10px 10px 5px #b5b5b5;
}

.inProgressOrder {
  background-color: #ff7f50;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
}
.orderDone {
  background-color: #90ee90;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
